/**
 * Outline для всех классов скелета шаблона.
 */
[class^="z-"],
[class*=" z-"] {
  outline: 1px solid orange;
}

.z-row {
  @extend .row;
}

.z-column {
  @extend .column;
  @extend .large-12;
}

.z-section {
  padding: 5rem 0;
  text-align: center;
  @for $i from 1 through 20 {
    &--number-#{$i} {
      @if $i % 2 == 0 { @include s-bg-ghost; }
    }
  }
  &--bg-img-map {
    background-color: #333;
    @include s-bg-img('@theme_site_url/images/bg-img-map.png');
  }
}

.z-footer {
  padding: 2rem 0;
}